name: linting_and_testing

on:
  pull_request:
    branches: [main]

jobs:
  flake8:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2.2.2
        with:
          python-version: 3.9
      - name: Python Poetry Action
        uses: abatilo/actions-poetry@v2.1.4
      - name: setup environment
        run: poetry install
      - name: flake8
        run: poetry run flake8
  pytest:
    name: 'Test ${{ matrix.python }}'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python:
          - '3.7'
          - '3.8'
          - '3.9'
          - '3.10'
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2.2.2
        with:
          python-version: '${{ matrix.python }}'
      - name: Python Poetry Action
        uses: abatilo/actions-poetry@v2.1.4
      - name: setup environment
        run: poetry install
      - name: pytest
        run: poetry run pytest
